@import '../../../colors.scss';

.postAuction-page{
    background-color: white;
    padding: 20px 15px;
    width: 100%;
    .title{
        font-size: 30px;
        color: $dark-blue;
    }
    &_columns{
        .form{
            width:100%;
            display:flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media screen and (max-width:40em){
                flex-wrap: wrap;
            }
        }         
        h2{
            font-size: 20px;
            color: $dark-blue;
            width: 100%;
            margin: 0;
            @media screen and (max-width:40em){
                margin-bottom: 10px;
            }
        }
        textarea{
            width: 96%;
            @media screen and (max-width:40em){
                width: 90%;
            }
        }
        &-left,&-right{
            width:48%;
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: space-between; 
            .half{
                width: 48%;
                &-2{
                    width: 45%;
                }
                @media screen and (max-width:40em){
                    width: 100%;
                }
            }
            input,select{
                margin: 0;
                padding: 12px 5px;
                @media screen and (max-width:40em){
                    margin-bottom: 10px;
                }
            }
            .field{
                padding:12px 0;
                border:1px solid $border;
                border-radius: 10px;
                font-size: 16px;
                font-family: "medium-font";
                background-color:#fff;
                display: flex;
                align-items: center;
                input{
                    width: 20%;
                    margin: 0;
                }
                label{
                    width: 70%;
                    padding-left: 12px;
                }
                input[type=checkbox] {
                    transform: scale(1.5);
                }
                @media screen and (max-width:40em){
                    margin-bottom: 10px;
                }
            }
            .upload-file{
                border:1px solid $border;
                border-radius: 10px;
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 70px 0;
                margin-bottom: 20px;
                width: 100%;
                label{
                    cursor: pointer;
                }
                input{
                    visibility: hidden;
                    width: 0;
                    padding: 0;
                    height: 0;
                }
                p{
                    font-size: 12px;
                    text-align: center;
                    color: $form-txt;
                }
                .upload-txt{
                    margin: 0;
                    font-size: 18px;
                }
                .upload-img{
                    width: 55px;
                }
            }
            @media screen and (max-width:40em){
                width: 100%;
            }
        }
        &-full{
            width: 100%;
        }
        .button{
            width: 40% !important;
            margin: auto;
            @media screen and (max-width:40em){
               width: 100% !important;
            }
        }
    }
}
