.social-nav{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px 80px;
    &_icons{
        width: 15%;
        @media screen and (max-width: 48em){
            width:40%;
            .icon{
                transform: scale(0.8);
            }
        }
    }
    &_notifications{
        display: flex;
        @media screen and (max-width: 48em){
            width:40%;
        }
    }
    @media screen and (max-width: 48em){
        padding: 10px 20px;
    }
}