@font-face {
    font-family: 'medium-font';
    src: local('medium-font'), url(./fonts/Poppins-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'regular-font';
    src: local('regular-font'), url(./fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'semibold-font';
    src: local('semibold-font'), url(./fonts/Poppins-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'bold-font';
    src: local('bold-font'), url(./fonts/Poppins-Bold.ttf) format('truetype');
}